.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 30px;
  gap: 20px;
  background-color: #e0dbdb65;
  height: 60px;
  padding: 5px;
  border: none;
  outline: none;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 18px;
  box-shadow: 3px 5px 15px #aba7a7;
}

/* Actions */
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login,
.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  color: #e60023;
  background: linear-gradient(
    260deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 36%,
    rgba(237, 221, 83, 1) 100%
  );
  border-radius: 5px;
  width: 220px;
}

.cart {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  color: #981ea1;
}

.cartBadge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #e60023;
  color: white;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 50%;
}
