.addBtn {
  background: #005c55;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "B Nazanin";
  transition: background 0.2s ease, transform 0.15s ease;
  direction: rtl;
}

.addBtn:hover {
  background: #00766d;
  transform: translateY(-2px);
}

.icon {
  font-size: 16px;
}
