.wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
height: auto;
padding: 10px;
  border: none;
  outline: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}
