.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  direction: rtl;
  background: #f7f9fa;
  overflow: hidden;
  font-family: "B Nazanin", sans-serif;

  /* انیمیشن برای جابه‌جایی main-area */
  transition: all 0.25s ease;
}

/* ===== SIDEBAR COLLAPSED MODE ===== */
.collapsed .mainArea {
  margin-right: 80px; /* در حالت جمع‌شده */
}

.mainArea {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;

  margin-right: 260px; /* عرض سایدبار کامل */
  transition: margin-right 0.25s ease;
}

/* محتوای صفحه */
.pageContent {
  padding: 1.2rem;
  overflow-y: auto;
  flex-grow: 1;

  background: #ffffff;
  border-radius: 14px 14px 0 0;
  margin-top: 0.5rem;

  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.06);
}

/* Mobile Mode */
@media (max-width: 768px) {
  .mainArea {
    margin-right: 0 !important; /* سایدبار روی صفحه باز می‌شود */
  }

  .collapsed .mainArea {
    margin-right: 0 !important;
  }

  .pageContent {
    padding: 1rem;
  }
}

