.pagination {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  direction: rtl;
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
  font-family: "B Nazanin";
}

.pagination p,
.pagination button {
  padding: 0.4rem 0.8rem;
  min-width: 38px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: #f5f5f5;
  transition: all 0.2s ease;
}

.pagination p:hover,
.pagination button:hover {
  background: #eaeaea;
}

.selected {
  background: #005c55 !important;
  color: #fff !important;
  font-weight: bold;
}

.disabled {
  background: #ccc !important;
  cursor: not-allowed !important;
  color: #666 !important;
}

