.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.4rem 0.6rem;
  background-color: #fff;
  direction: rtl;
}

.icon {
  font-size: 1.6rem;
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-family: "B Nazanin";
}

.input:focus {
  border-bottom: 2px solid #005c55;
}
