
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Vazirmatn", sans-serif;
  background-color: #f8f9f9;
  margin: 0;
  color: #333;
}

.mainWrapper {
  min-height: 70vh;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 20px;
  direction: rtl;
}
